
$text-white: white;
$text-black: black;
$text-muted: #6c757d;
$text-hover: #fdcc52;

$background-red: rgb(218, 37, 50);
$background-purple: rgb(125, 66, 149);
$icon-color: rgb(164, 53, 109);
$background-yellow:rgb(253, 199, 64);
$btn-hover: #fdcc52;
$background-footer: rgb(34, 34, 34);

$icon-twitter: rgb(29, 161, 242);
$icon-facebook: rgb(59, 89, 152);
$icon-google: rgb(221, 75, 57);
$icon-heart: rgb(221, 75, 57);

