@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

$font-heading: 'Catamaran', Helvetica, Arial, sans-serif;
$font-btn: 'Lato', Helvetica, Arial, sans-serif;
$font-paragraph: 'Catamaran', Helvetica, Arial, sans-serif; //ezt majd kicserélni!